body {
  font-family: sans-serif;
}

.apilayer-logo {
  max-width: 60px;
}

.result {
  width: fit-content;
  padding: 15px 20px;
}

footer {
  font-size: 12px;
  position: relative;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
